<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Here are all the food that you can make</h1>
    <div>
        <div>
            <nav>
                <ul>
                    <li>
                        Home
                    </li>
                    <li>
                        <a href="login.html">login</a>
                    </li>
                    <li>
                        <a href="ingredient.html">Add ingredients</a>
                    </li>
                </ul>
            </nav>
        </div>
        <h2> <a href="recipe.html">Egg fried rice</a></h2>
        <div>
            <h3>Ingredients:</h3>
            <ol>
                <li>
                    1 egg
                </li>
                <li>
                    1 tea spoonful of soy sauce
                </li>
                <li>
                    1 bowl of rice
                </li>
            </ol>
            <p>
                Nutritions:
                <ol>
                    <li>Calories: 400 kcal</li>
                    <li>Carbs: 30 g</li>
                    <li>Protein: 5 g</li>
                    <li>Fat: 5 g</li>
                </ol>
            </p>
        </div>
    </div>
</body>
</html>