<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="all.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">
</head>
<body>
    <div class="icon">
        <!--<img class="icon-image" src="c:\Users\nampr\Downloads\icon.webp">!-->
        <span class="icon-text">Plateful    Palette</span>
    </div>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="ingredient.html">Add Ingredients</a></li>
            <li><a href="food.html">Food to cook</a></li>
            <li><a href="suggestion.html">Suggestions</a></li>
        </ul>
    </nav>
    <div>
        <h2> <a href="recipe.html">Egg fried rice</a></h2>
        <div>
            <h3>Ingredients:</h3>
            <ol>
                <li>
                    1 egg
                </li>
                <li>
                    1 tea spoonful of soy sauce
                </li>
                <li>
                    1 bowl of rice
                </li>
            </ol>
            <p>
                Nutritions:
                <ol>
                    <li>Calories: 400 kcal</li>
                    <li>Carbs: 30 g</li>
                    <li>Protein: 5 g</li>
                    <li>Fat: 5 g</li>
                    <!--add more advanced stuff-->
                </ol>
            </p>
        </div>
    </div>
</body>
</html>