<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredient input</title>
</head>
<body>
    <div>
        <div>
            <nav>
                <ul>
                    <li>
                        Home
                    </li>
                    <li>
                        <a href="login.html">Login</a>
                    </li>
                    <li>
                        <a href="ingredient.html">Add ingredients</a>
                    </li>
                </ul>
            </nav>
        </div>
        <h2>Input your ingredient here:</h3>
        <form>
            <input placeholder="Ingredients">
        </form>
        <div>
            <h2> Your list of ingredients are here:</h2>
            <ol>
                <li>
                    rice
                </li>
                <li>
                    fish sauce
                </li>
                <li>
                    egg
                </li>
            </ol>
        </div>
        <h2><a href="food.html"> Click here to see all the foods you can make</a></h2>
    </div>
</body>
</html>