<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="all.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">
</head>
<body>
    <div class="icon">
        <!--<img class="icon-image" src="c:\Users\nampr\Downloads\icon.webp">!-->
        <span class="icon-text">Plateful    Palette</span>
    </div>
    <nav>
        <ul class="intro-list">
            <li><a href="home.html">Home</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="ingredient.html">Add Ingredients</a></li>
            <li><a href="food.html">Food to cook</a></li>
            <li><a href="suggestion.html">Suggestions</a></li>
        </ul>
    </nav>
    <div>
        <p3>Username:</p3>
        <input type="text" placeholder="username">
        <br>
        <p3>Password:</p3>
        <input type="password" placeholder="password">
    </div>
</body>
</html>