<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <div>
        <nav>
            <ul>
                <li>
                    Home
                </li>
                <li>
                    <a href="login.html">Login</a>
                </li>
                <li>
                    <a href="ingredient.html">Add ingredients</a>
                </li>
            </ul>
        </nav>
    </div>
    
    <div>
        <p3>Username:</p3>
        <input type="text" placeholder="username">
        <br>
        <p3>Password:</p3>
        <input type="password" placeholder="password">
    </div>
</body>
</html>