<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="all.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">
</head>
<body>
    <div class="icon">
        <!--<img class="icon-image" src="c:\Users\nampr\Downloads\icon.webp">!-->
        <span class="icon-text">Plateful    Palette</span>
    </div>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="ingredient.html">Add Ingredients</a></li>
            <li><a href="food.html">Food to cook</a></li>
            <li><a href="suggestion.html">Suggestions</a></li>
        </ul>
    </nav>
    </div>
    <div>
        <h2> Here is how to make this delicious foods</h2>
        <div>
            <p>Step 1: Use cold rice, put in on the pan and here it up with a spoonful of oil for 10-15 minutes</p>
            <p>Step 2: When the rice is hot, crack the egg in the pan and mix it with rice until the egg is no longer in liquid form</p>
            <p>Step 3: Finally, turn off the stove and pour a spoonful of fish sauce until you feel that it is not bland anymore</p>
        </div>
        <h2>Congrats on making your meal</h2>
    </div>
</body>
</html>