{% extends "guest/layout.html" %}
{% block  body%}
    <section class="welcome">
        <h1>Welcome to Plateful Palette!</h1>
        <p>Discover new recipes and track your culinary adventures.</p>
    </section>
    <section class="about">
        <h2>About Us</h2>
        <p>Learn more about our mission to make cooking accessible and fun for everyone.</p>
    </section>
    <script> 
        {% if just_logged_out%}
            alert("Logged out successfully")
        {% endif %}
    </script>
{% endblock%}