{% extends "food/layout.html" %}
{% load static %}
{% block body %}
<div class="container">
    <h1 class="mt-4">Foods You Can Make</h1>
    <div class="food-container">
        {% for food in foods %}
        <a href="{% url 'food:food_item' food.title %}">
            <div class="food-item">
                {% if food.image_url %}
                <img src="{{ food.image_url }}" class="food-image" alt="{{ food.title }}">
                {% else %}
                <img src="{% static 'default_food_image.jpg' %}" class="food-image" alt="{{ food.title }}">
                {% endif %}
                <h3>{{ food.title }}</h3>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}