{% extends "food/layout.html" %}

{% block body %}
    <div class="container">
        <h1>Foods You Can Make</h1>
        <div class="food-container">
            {% for food in foods %}
                {% if food %}
                    <a href="{% url 'food:food_item' food %}" class="food-item-link">
                        <div class="food-item">
                            <h3>{{ food }}</h3>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}