{% extends "food/layout.html" %}
{% block  body%}
    <section class="welcome">
        <h1>Welcome to Plateful Palette!</h1>
        <p>Join us to create new recipes and track your culinary adventures.</p>
    </section>
    <div class="intro-template">
        <article>
            <img>
            <a href="{% url "food:ingredients" %}"> <h3> Adding your ingredients</h3> </a>
            <h4> Having a lot of things in your fridge, but don't know what to cook? Click here to input your ingredients and find amazing recipe</h4>
        </article>
        <article>
            <img>
            <a href="{% url "food:foods" %}" ><h3> Explore foods </h3> </a>
            <h4> Already input the foods? Click here to see which delicious foods you can make </h4>
        </article>

    </div>
{% endblock%}